<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<!--   <context:component-scan base-package="bpos.server.repository"/>-->
<!--    <context:component-scan base-package="bpos.server.service"/>-->
<!--    <context:component-scan base-package="bpos.server.controller"/>-->
<!--    <context:component-scan base-package="bpos.server"/>-->

<!--<util:properties id="jdbcProps1">-->
<!--        <prop key="jdbc.driver">org.sqlite.JDBC</prop>-->
<!--        <prop key="jdbc.url">jdbc:sqlite:C:\Users\bianc\IdeaProjects\BPositiveServer3\bpositive.db</prop>-->
<!--    </util:properties>-->
    <util:properties id="jdbcProps" location="classpath:bd.config"/>
<!--    <bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper"/>-->
<!--    <bean id="authentificationManger" class="org.springframework.security.authentication.AuthenticationManager"-->
<!--          abstract="true"/>-->
    <!-- Define the WebSocketHandler bean -->
    <bean id="webSocketHandler" class="bpos.server.service.WebSockets.WebSocketHandler"/>

    <bean id="addressValidator" class="bpos.common.model.Validators.Implementation.AddressValidator"/>
    <bean id="bloodTestValidator" class="bpos.common.model.Validators.Implementation.BloodTestValidator"/>
    <bean id="centerValidator" class="bpos.common.model.Validators.Implementation.CenterValidator"/>
    <bean id="cuponValidator" class="bpos.common.model.Validators.Implementation.CouponValidator"/>
    <bean id="donationTypeValidator" class="bpos.common.model.Validators.Implementation.DonationTypeValidator"/>
    <bean id="donationValidator" class="bpos.common.model.Validators.Implementation.DonationValidator"/>
    <bean id="eventValidator" class="bpos.common.model.Validators.Implementation.EventValidator"/>
    <bean id="institutionValidator" class="bpos.common.model.Validators.Implementation.InstitutionValidator"/>
    <bean id="logInfoValidator" class="bpos.common.model.Validators.Implementation.LogInfoValidator"/>
    <bean id="medicalInfoValidator" class="bpos.common.model.Validators.Implementation.MedicalInfoValidator"/>
    <bean id="personalDataValidator" class="bpos.common.model.Validators.Implementation.PersonalDataValidator"/>
    <bean id="personValidator" class="bpos.common.model.Validators.Implementation.PersonValidator"/>
    <bean id="retrievedCouponsValidator" class="bpos.common.model.Validators.Implementation.RetrievedCouponsValidator"/>
    <bean id="studentValidator" class="bpos.common.model.Validators.Implementation.StudentValidator"/>

<!--    <bean id="dbUtils" class="bpos.server.repository.Utils.DBUtils">-->
<!--        <constructor-arg ref="jdbcProps1"/>-->
<!--    </bean>-->

    <bean id="addressRepository" class="bpos.server.repository.Implementations.DBAddressRepository">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="addressValidator"/>
    </bean>
    <bean id="institutionRepository" class="bpos.server.repository.Implementations.DBInstitutionRepository">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="institutionValidator"/>
    </bean>
    <bean id="donationTypeRepository" class="bpos.server.repository.Implementations.DBDonationTypeRepository">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="donationTypeValidator"/>
    </bean>
    <bean id="donationRepository" class="bpos.server.repository.Implementations.DBDonationRepository">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="donationValidator"/>
    </bean>
    <bean id="eventRepository" class="bpos.server.repository.Implementations.DBEventRepository">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="eventValidator"/>
    </bean>
    <bean id="logInfoRepository" class="bpos.server.repository.Implementations.DBLogInfoRepository">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="logInfoValidator"/>
    </bean>
    <bean id="medicalInfoRepository" class="bpos.server.repository.Implementations.DBMedicalInfoRepository">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="medicalInfoValidator"/>
    </bean>
    <bean id="personalDataRepository" class="bpos.server.repository.Implementations.DBPersonalDataRepository">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="personalDataValidator"/>

    </bean>
    <bean id="personRepository" class="bpos.server.repository.Implementations.DBPersonRepository">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="personValidator"/>
    </bean>
    <bean id="retrievedCouponsRepository" class="bpos.server.repository.Implementations.DBRetrievedCouponsRepository">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="retrievedCouponsValidator"/>
    </bean>
    <bean id="studentRepository" class="bpos.server.repository.Implementations.DBStudentRepository">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="studentValidator"/>
    </bean>

    <bean id="bloodTestRepository" class="bpos.server.repository.Implementations.DBBloodTestRepository" init-method="init">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="bloodTestValidator"/>
    </bean>

    <bean id="centerRepository" class="bpos.server.repository.Implementations.DBCenterRepository">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="centerValidator"/>
    </bean>
    <bean id="cuponRepository" class="bpos.server.repository.Implementations.DBCouponRepository">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="cuponValidator"/>
    </bean>
<!--    <bean id="service" class="bpos.server.service.ServerImlp">-->
<!--        <constructor-arg ref="institutionRepository"/>-->
<!--        <constructor-arg ref="logInfoRepository"/>-->
<!--        <constructor-arg ref="medicalInfoRepository"/>-->
<!--        <constructor-arg ref="personRepository"/>-->
<!--        <constructor-arg ref="personalDataRepository"/>-->
<!--        <constructor-arg ref="retrievedCouponsRepository"/>-->
<!--        <constructor-arg ref="addressRepository"/>-->
<!--        <constructor-arg ref="bloodTestRepository"/>-->
<!--        <constructor-arg ref="centerRepository"/>-->
<!--        <constructor-arg ref="cuponRepository"/>-->
<!--        <constructor-arg ref="donationRepository"/>-->
<!--        <constructor-arg ref="donationTypeRepository"/>-->
<!--        <constructor-arg ref="eventRepository"/>-->
<!--        <constructor-arg ref="studentRepository"/>-->
<!--    </bean>-->
<!--    <bean id="controller" class="bpos.server.controller.Controller">-->
<!--        <constructor-arg ref="service"/>-->
<!--    </bean>-->
    <bean id="addressService" class="bpos.server.service.Implementation.AddressService">
        <constructor-arg ref="addressRepository"/>
    </bean>
    <bean id="centerActorService" class="bpos.server.service.Implementation.CenterActorService">
        <constructor-arg ref="centerRepository"/>
        <constructor-arg ref="logInfoRepository"/>
    </bean>
    <bean id="donationService" class="bpos.server.service.Implementation.DonationService">
        <constructor-arg ref="donationRepository"/>
        <constructor-arg ref="donationTypeRepository"/>
        <constructor-arg ref="personRepository"/>
        <constructor-arg ref="eventRepository"/>
    </bean>
    <bean id="eventService" class="bpos.server.service.Implementation.EventService">
        <constructor-arg ref="eventRepository"/>
        <constructor-arg ref="cuponRepository"/>
        <constructor-arg ref="retrievedCouponsRepository"/>
    </bean>
    <bean id="logInfoService" class="bpos.server.service.Implementation.LogInfoService">
        <constructor-arg ref="logInfoRepository"/>
    </bean>
    <bean id="medicalInfoService" class="bpos.server.service.Implementation.MedicalInformationService">
        <constructor-arg ref="medicalInfoRepository"/>
        <constructor-arg ref="bloodTestRepository"/>
    </bean>
<!--    <bean id="jwtUserDetailsService" class="bpos.server.service.WebSockets.JwtUserDetailsService">-->
<!--        <constructor-arg ref="personRepository"/>-->
<!--    </bean>-->
<!--    <context:property-placeholder location="classpath:application.properties"/>-->
<!--    <bean id="jwtTokenUtil" class="bpos.server.service.WebSockets.JwtTokenUtil"-->
<!--          p:secret="${jwt.secret}">-->
<!--    </bean>-->
<!--    <bean id="jwtRequestFilter" class="bpos.server.service.WebSockets.JwtRequestFilter">-->
<!--        <constructor-arg ref="jwtUserDetailsService"/>-->
<!--        <constructor-arg ref="jwtTokenUtil"/>-->
<!--    </bean>-->
<!--    <bean id="userDetailsService" class="bpos.server.service.WebSockets.JwtUserDetailsService">-->
<!--        <constructor-arg ref="personRepository"/>-->
<!--    </bean>-->
<!--    <bean id="jwtAuthenticationEntryPoint" class="bpos.server.service.WebSockets.JwtAuthenticationEntryPoint"/>-->
<!--    <bean id="webSecurityConfig" class="bpos.server.service.WebSockets.WebSecurityConfig">-->
<!--        <constructor-arg ref="jwtRequestFilter"/>-->
<!--        <constructor-arg ref="userDetailsService"/>-->
<!--        <constructor-arg ref="jwtAuthenticationEntryPoint"/>-->
<!--    </bean>-->
    <bean id="personActor" class="bpos.server.service.Implementation.PersonActorService">
        <constructor-arg ref="personalDataRepository"/>
        <constructor-arg ref="personRepository"/>
        <constructor-arg ref="studentRepository"/>
        <constructor-arg ref="logInfoRepository"/>
        <constructor-arg ref="institutionRepository"/>
        <constructor-arg ref="webSocketHandler"/>
<!--        <constructor-arg ref="objectMapper"/>-->
<!--        <constructor-arg ref="jwtUserDetailsService"/>-->

    </bean>
<!--    &lt;!&ndash;controller &ndash;&gt;-->
<!--    <bean id="addressController" class="bpos.server.AddressController">-->
<!--        <constructor-arg ref="addressService"/>-->
<!--    </bean>-->
<!--    <bean id="centerActorController" class="bpos.server.CenterController">-->
<!--        <constructor-arg ref="centerActorService"/>-->
<!--    </bean>-->
<!--    <bean id="donationController" class="bpos.server.DonationController">-->
<!--        <constructor-arg ref="donationService"/>-->
<!--    </bean>-->
<!--    <bean id="eventController" class="bpos.server.EventController">-->
<!--        <constructor-arg ref="eventService"/>-->
<!--    </bean>-->
<!--    <bean id="logInfoController" class="bpos.server.LogInfoController">-->
<!--        <constructor-arg ref="logInfoService"/>-->
<!--    </bean>-->
<!--    <bean id="medicalInfoController" class="bpos.server.MedicalInfoController">-->
<!--        <constructor-arg ref="medicalInfoService"/>-->
<!--    </bean>-->


</beans>