<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="bpos.server"/>
    <context:component-scan base-package="bpos.server.service"/>
    <context:component-scan base-package="bpos.server.service.WebSockets"/>

    <!-- Define the properties -->
    <util:properties id="jdbcProps" location="classpath:bd.config"/>

    <!-- Validators -->
    <bean id="addressValidator" class="bpos.common.model.Validators.Implementation.AddressValidator"/>
    <bean id="bloodTestValidator" class="bpos.common.model.Validators.Implementation.BloodTestValidator"/>
    <bean id="centerValidator" class="bpos.common.model.Validators.Implementation.CenterValidator"/>
    <bean id="cuponValidator" class="bpos.common.model.Validators.Implementation.CouponValidator"/>
    <bean id="donationTypeValidator" class="bpos.common.model.Validators.Implementation.DonationTypeValidator"/>
    <bean id="donationValidator" class="bpos.common.model.Validators.Implementation.DonationValidator"/>
    <bean id="eventValidator" class="bpos.common.model.Validators.Implementation.EventValidator"/>
    <bean id="institutionValidator" class="bpos.common.model.Validators.Implementation.InstitutionValidator"/>
    <bean id="logInfoValidator" class="bpos.common.model.Validators.Implementation.LogInfoValidator"/>
    <bean id="medicalInfoValidator" class="bpos.common.model.Validators.Implementation.MedicalInfoValidator"/>
    <bean id="personalDataValidator" class="bpos.common.model.Validators.Implementation.PersonalDataValidator"/>
    <bean id="personValidator" class="bpos.common.model.Validators.Implementation.PersonValidator"/>
    <bean id="retrievedCouponsValidator" class="bpos.common.model.Validators.Implementation.RetrievedCouponsValidator"/>
    <bean id="studentValidator" class="bpos.common.model.Validators.Implementation.StudentValidator"/>

    <!-- Repositories -->
    <bean id="addressRepository" class="bpos.server.repository.Implementations.DBAddressRepository">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="addressValidator"/>
    </bean>
    <bean id="institutionRepository" class="bpos.server.repository.Implementations.DBInstitutionRepository">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="institutionValidator"/>
    </bean>
    <bean id="donationTypeRepository" class="bpos.server.repository.Implementations.DBDonationTypeRepository">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="donationTypeValidator"/>
    </bean>
    <bean id="donationRepository" class="bpos.server.repository.Implementations.DBDonationRepository">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="donationValidator"/>
    </bean>
    <bean id="eventRepository" class="bpos.server.repository.Implementations.DBEventRepository">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="eventValidator"/>
    </bean>
    <bean id="logInfoRepository" class="bpos.server.repository.Implementations.DBLogInfoRepository">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="logInfoValidator"/>
    </bean>
    <bean id="medicalInfoRepository" class="bpos.server.repository.Implementations.DBMedicalInfoRepository">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="medicalInfoValidator"/>
    </bean>
    <bean id="personalDataRepository" class="bpos.server.repository.Implementations.DBPersonalDataRepository">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="personalDataValidator"/>
    </bean>
    <bean id="personRepository" class="bpos.server.repository.Implementations.DBPersonRepository">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="personValidator"/>
    </bean>
    <bean id="retrievedCouponsRepository" class="bpos.server.repository.Implementations.DBRetrievedCouponsRepository">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="retrievedCouponsValidator"/>
    </bean>
    <bean id="studentRepository" class="bpos.server.repository.Implementations.DBStudentRepository">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="studentValidator"/>
    </bean>

    <bean id="bloodTestRepository" class="bpos.server.repository.Implementations.DBBloodTestRepository" init-method="init">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="bloodTestValidator"/>
    </bean>

    <bean id="centerRepository" class="bpos.server.repository.Implementations.DBCenterRepository">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="centerValidator"/>
    </bean>
    <bean id="cuponRepository" class="bpos.server.repository.Implementations.DBCouponRepository">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="cuponValidator"/>
    </bean>

<!--    <bean id="simpMessagingTemplate" class="org.springframework.messaging.simp.SimpMessagingTemplate">-->
<!--        <constructor-arg ref="clientOutboundChannel"/>-->
<!--    </bean>-->
    <!-- Services -->
    <bean id="notificationService" class="bpos.server.service.WebSockets.NotificationService">
        <constructor-arg ref="customSimpMessagingTemplate"/>
    </bean>

    <bean id="addressService" class="bpos.server.service.Implementation.AddressService">
        <constructor-arg ref="addressRepository"/>
        <constructor-arg ref="notificationService"/>
    </bean>
    <bean id="centerActorService" class="bpos.server.service.Implementation.CenterActorService">
        <constructor-arg ref="centerRepository"/>
        <constructor-arg ref="logInfoRepository"/>
        <constructor-arg ref="notificationService"/>
    </bean>
    <bean id="donationService" class="bpos.server.service.Implementation.DonationService">
        <constructor-arg ref="donationRepository"/>
        <constructor-arg ref="donationTypeRepository"/>
        <constructor-arg ref="personRepository"/>
        <constructor-arg ref="eventRepository"/>
        <constructor-arg ref="notificationService"/>
        <constructor-arg ref="eventRepository"/>
    </bean>
    <bean id="eventService" class="bpos.server.service.Implementation.EventService">
        <constructor-arg ref="eventRepository"/>
        <constructor-arg ref="cuponRepository"/>
        <constructor-arg ref="retrievedCouponsRepository"/>
        <constructor-arg ref="notificationService"/>
    </bean>
    <bean id="logInfoService" class="bpos.server.service.Implementation.LogInfoService">
        <constructor-arg ref="logInfoRepository"/>
        <constructor-arg ref="notificationService"/>
    </bean>
    <bean id="medicalInfoService" class="bpos.server.service.Implementation.MedicalInformationService">
        <constructor-arg ref="medicalInfoRepository"/>
        <constructor-arg ref="bloodTestRepository"/>
        <constructor-arg ref="notificationService"/>
    </bean>

    <bean id="personActor" class="bpos.server.service.Implementation.PersonActorService">
        <constructor-arg ref="personalDataRepository"/>
        <constructor-arg ref="personRepository"/>
        <constructor-arg ref="studentRepository"/>
        <constructor-arg ref="logInfoRepository"/>
        <constructor-arg ref="addressRepository"/>
        <constructor-arg ref="institutionRepository"/>
        <constructor-arg ref="notificationService"/>
        <constructor-arg ref="medicalInfoRepository"/>
        <constructor-arg ref="bloodTestRepository"/>
    </bean>
    <bean id="studentService" class="bpos.server.service.Implementation.StudentService">
        <constructor-arg ref="studentRepository"/>
    </bean>

</beans>
